# Configuration file

evilerminecraftfixes {
    # DI UPDATE CHECKER OFF [default: true]
    B:DIUpCheck=true

    # HEE Tweaks [default: true]
    B:HeeTweaks=true

    # Enable Infernal Mobs Fixes? [default: true]
    B:IFFixes=true

    # ORE TEST [default: true]
    B:ORE=true

    # Particle Glove consumes Thirst [default: true]
    B:PGGloveThirst=true

    # Dragon Always gives effects on bite attack? [default: true]
    B:alwaysEffects=true

    # Fix crash with herobrine [default: true]
    B:arrowFixes=true

    # Athena? [default: true]
    B:athenaWither=true

    # Increase Block Wielder HP [default: true]
    B:blockWilderBuff=true

    # Bomby Fixes [default: true]
    B:bomby=true

    # Make cloud boots as good as iron [default: true]
    B:buffClouldBoots=true

    # Buff Mutants [default: true]
    B:buffMutants=true

    # Chemical X works on Special Mobs? [default: true]
    B:chemXSpecialMobsWorks=true

    # {test} make ender deamon structure thing try and spawn [default: true]
    B:decoratorEnchancedIsland=true

    # Disable the Ore boss gaining full HP when low HP [default: true]
    B:disableOreBossInstaHp=true

    # Increase Fire Worm HP [default: true]
    B:fireWormHPIncrease=true

    # Fix Broken Ore Gen [default: true]
    B:fixOreGen=true

    # Fix broke HEE music [default: true]
    B:hEEMusicFix=true

    # Harder Creeper? [default: true]
    B:hardCreeper=true

    # Hard Dragon [default: true]
    B:hardDragom=true

    # Harder Ghasts? [default: true]
    B:hardGhast=true

    # Harder Skeletons? [default: true]
    B:hardSkele=true

    # Hardcore apple buff [default: true]
    B:hardcoreApple=true

    # Harder Endermen [default: true]
    B:harderEndermen=true

    # Disable HW log spam [default: true]
    B:hwSpam=true

    # Increased Spawning [default: true]
    B:increasedSpawning=true

    # Source Invasion Block harder to break, and is impossible to drop [default: true]
    B:invasionBlock=true

    # Longer Sleep? [default: true]
    B:longerSleep=true

    # Use Faster Math? [default: true]
    B:math=true

    # Hard Dragon Max Damage For BloodLust [range: 1.4E-45 ~ 3.4028235E38, default: 1.0]
    S:maxDragonDamage=1.0

    # Fix MovePlus log spam, and enable hunger deprecation on moves [default: true]
    B:movePlusFix=true

    # Turtle Armour now get damaged when revive effect is used [default: true]
    B:nerfCQArmor=true

    # Nerf XP Levels of ORES? [default: true]
    B:nerfXPLevelOres=true

    # Add New Ore Boss phase [default: true]
    B:newOreBossPhase=true

    # Ore Attack! [default: true]
    B:oreAttack=true

    # Particle Recipe Change? [default: true]
    B:particleRecipeChange=true

    # Rare Spawners [default: true]
    B:rareSpawners=true

    # Remove Global Entities from Fake Ores [default: true]
    B:removeGlobalEntityRegOres=true

    # Adds QOL improvements to the thrist, and fixes some bugs [default: true]
    B:thirstChanges=true

    # Hard Dragon WEIGHT SUPER [range: -2147483648 ~ 2147483647, default: 10]
    I:weightSuperDragon=10
}


