# Configuration file

backpacks {
    # Max ammount of backpacks allowed before you can't hold anymore [range: 0 ~ 99, default: 2]
    I:"Max Backpack"=2
}


"fake ores" {
    # If a fake ore is mined, should all come after you? [default: false]
    B:"All ores in vein attack when mined"=false
}


"heal amm" {
    S:"Heal AMM"=4.0
}


"heal timer" {
    I:"Heal Timer"=120
}


hee {
    # Make the bombs destroy blocks [default: false]
    B:"Dangerous Bombs"=false

    # When the ender dragon is below this HP point, it will take no knockback. [range: 0.0 ~ 9000.0, default: 80.0]
    S:"Ender Dragon No Knock Hp"=80.0

    # Distance to try and spawn ender deamon structure [range: 0.0 ~ 3.4028235E38, default: 1300.0]
    S:"Max spawn distance for endermen relic structure"=1300.0

    # Spawn chance after required distance [range: 0 ~ 2147483647, default: 16]
    I:"Spawn Chance of Relic Island"=16

    # SHould the  Ender Deamon Structure spawn only on Enrinched Island(test) [default: false]
    B:"Spawn Ender Deamon Structure only on Enriched Island"=false
}


hw {
    # Should the Ladder Zombie Spawn in? [default: true]
    B:"Spawn Ladder Zombie"=true

    # HW source invasion hardness(break) [range: 0.0 ~ 1000.0, default: 50.0]
    S:hardness=10.0

    # HW source invasion block resistance(explosion) [range: 0.0 ~ 1000.0, default: 1000.0]
    S:resistance=1000.0
}


"hw source invasion block resistance(explosion)" {
    S:resistance=1000.0
}


"hw source invasion hardness(break)" {
    S:hardness=10.0
}


"infernal mobs" {
    # If a endermen is with a modifier, should it be aggressive? [default: false]
    B:"Endermen Aggressive if modifier"=false

    # If a pigmen is with a modifier, should it be aggressive? [default: true]
    B:"Pigmen Aggressive if modifier"=true

    # If a spider is with a modifier, should it be aggressive? [default: true]
    B:"Spider Aggressive if modifier"=true
}


"monster spawners" {
    # How many mobs before the spawners don't spawn anymore. [range: 0 ~ 9000, default: 12]
    I:"Max Mobs"=12

    # After the 1st entity has spawned, what is the max time between next spawn? [range: 0 ~ 9000, default: 800]
    I:"Max timer"=800

    # After the 1st entity has spawned, what is the minimum time between next spawn? [range: 0 ~ 9000, default: 200]
    I:"Min timer"=200

    # The distance in which the monster spawner activates(does not dictate spawn radius) [range: 16 ~ 256, default: 64]
    I:"Monster spawner range from player"=64

    # The amount of time in ticks when mobs should spawn when the spawner is 1st placed. [range: 0 ~ 9000, default: 3]
    I:"Spawn Delay"=3
}


nether {
    # Give Nether Mobs an increased HP [default: true]
    B:"Buff Nether Mobs"=true
}


player {
    # Should natural Regeneration be forcefully turned off? [default: true]
    B:"Natural regeneration"=true
}


wither {
    # Enable Athena? [default: true]
    B:Athena=true

    #  [range: 0.0 ~ 1000.0, default: 4.0]
    S:"Heal AMM"=4.0

    #  [range: 0 ~ 100000, default: 120]
    I:"Heal Timer"=120
}


